html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #d50000
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #d50000;
}
